<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><%= @library.name %></h3>
  </div>
  <div class="panel-body">
    <span class="text-muted"><%= truncate(@library.description, length: 80, omission: '...') %></span>
  </div>
</div>

<div role="tabpanel">

  <!-- Tabs for each kind of content a library can have -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#references" aria-controls="references" role="tab" data-toggle="tab">References</a></li>
    <li role="presentation"><a href="#raw_bibtex" aria-controls="raw_bibtex" role="tab" data-toggle="tab">Raw Bibtex</a></li>
    <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="references">
          <%= render "references/container" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="raw_bibtex">
      <%= render "raw_bibtex_entries/container" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="resources"></div>
  </div>

</div>


<script>
	$(document).ready(function() {
		$.getScript("<%= url_for(library_references_path(@library)) %>");
		$("a[href='#references']").on('show.bs.tab', function(e) {
	    $.getScript("<%= url_for(library_references_path(@library)) %>");
	 	});
	 	$("a[href='#raw_bibtex']").on('show.bs.tab', function(e) {
	    $.getScript("<%= url_for(library_raw_bibtex_entries_path(@library)) %>");
	 	});
	 	$("a[href='#files']").on('show.bs.tab', function(e) {
	    $('#files').load("<%= url_for(library_resources_path(@library)) %>");
	 	});
	});
</script>


