<tbody class="raw-bibtex-entry" >
<tr class="header-row <%= raw_bibtex_list_class(raw_bibtex_entry) %>">
			<td class="column caret-column"><span class="caret-right caret-element"></span></td>
			<td class="column column1"><%= raw_bibtex_entry.key %></td>
			<td class="column column2"><span class="badge" class="text-warning"><%= raw_bibtex_entry.num_warnings %></span></td>
			<td class="column column2"><span class="badge" class="text-danger"><%= raw_bibtex_entry.num_errors %></span></td>
			<td class="column select-column"><%= check_box_tag "raw_bibtex_entry_ids[]", raw_bibtex_entry.id, false, class: "select-check-box" %></td>
</tr>
<tr class="display-row raw-bibtex-content" style="display:none">
	<td colspan="5">
		<div class="well well-lg" >
			<%= raw_bibtex_entry.content %>
		</div>
	</td>
</tr>
</tbody>