      <div class="modal-header">
        <h4 class="modal-title" id="reference-form-label">
          <%  if @reference.new_record? %>
          Create Reference
          <% else %>
          Edit Reference
          <% end %>
        </h4>
      </div>

      <%= simple_nested_form_for(@library_reference, remote: true,  html: { class: 'form-inline' }   ) do |f| %> <!-- label_col: "col-sm-2", control_col: "col-sm-7"  -->
      <div class="modal-body">
        <div class="row">
        <div id="save_reference_error"></div>
        <%= f.input :bibtex_type, collection: Settings.bibtex_types, label: "Type", disabled: !@editable  %>
        <%= f.input :key, as: :string, label: "Key", disabled: !@editable  %>
        <%= f.input :title,  as: :string, wrapper_html: { class: 'form-horizonta' },  disabled: !@editable %>
        <div>
          <%= f.input :authorship_type, collection: [["Authors", "author"], ["Editor", "editor"]], label_method: :first, value_method: :last, label: "Authorship Type", skip_label: :true, disabled: !@editable %>
            <%= f.fields_for :author_names, :wrapper => false do |author_form| %>
              <%= author_form.input_field :name, as: :string, label: "Author", placeholder: "Author Name", disabled: !@editable, layout: :horizontal %>
              <%= author_form.link_to_remove(class: "btn btn-default") do %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <% end %>
          <% end %>
          <%= f.link_to_add :author_names, id: 'add-author-link', class:"btn btn-default" do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <% end %>
        </div>
        <%= f.input :year, as: :integer, disabled: !@editable  %>
        <%= f.input :month, collection: Date::MONTHNAMES, disabled: !@editable  %>
        <div>
          <%= f.fields_for :fields do |field_form| %>
            <%= field_form.hidden_field :name %>
            <%= field_form.label :value, label: field_form.object.name, label_html: { class: "field_name_label"} %>
            <%= field_form.input_field :value, as: :string, input_html: { class: "field_value"}, disabled: !@editable  %>
            <%= f.link_to_remove( "Delete", class: "btn btn-default")  if @editable %>
          <% end %>
          <%= f.link_to_add "Add a Field", :fields, id: 'add-field-link', class:"btn btn-default" if @editable %>
        </div>

      </div>
      </div>
      <div class="modal-footer">
        <% if @editable %>
        <input type="submit" name="commit" value="Update" class="btn btn-default"  />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% else %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
      <% end %>
