<tr class="reference-row deleteable-element deleteable-identifier">
	<td class="column column1"><a href="<%= url_for(reference_path(reference)) %>" class="reference-edit-link deleteable-href"> <%= reference.key %></a></td>
	<td class="column column2"><%= reference.title %></td>
	<td class="column column3"><%= reference.bibtex_type %></td>
	<td class="column column4"><%= reference.author_names %></td>
  <td class="column column5"><%= reference.year %></td>
  <td class="column column6"><%= reference.num_links %></td>
  <td class="column column7"><%= reference.num_files %></td>
  <td class="column delete-indicator" style="display:none"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
</tr>