<ul class="nav nav-pills">
	<li role="presentation">
		<%= link_to 'Home', root_path %>
	</li>
	<% if user_signed_in? %>
		<li role="presentation">
			<%= link_to 'Edit Profile', edit_user_registration_path %>
		</li>
		<li role="presentation">
			<%= link_to 'Sign Out', destroy_user_session_path, method: delete %>
		</li>
	<% else %>
		<li role="presentation">
			<%= link_to 'Log In', new_user_session_path %>
		</li>
		<li role="presentation">
			<%= link_to 'Sign Up', new_user_registration_path %>
		</li>
	<% end %>
</ul>

<div id="alert" class="container">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
</div>