<!DOCTYPE html>
<html>
<head>
  <title>Bibmanage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi?key=#{Rails.application.secrets.google_browser_api_key}", extname: false %>
  <%= javascript_include_tag "https://apis.google.com/js/client.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="application" class="container">
	<%= yield %>
</div>
</body>
</html>
